/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* colors 

dark gray 271B2F
purple 553854
blue dark 276560
green 6A8B76
beige D8CDAD

*/
/* =Header
-------------------------------------------------------------- */


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}

#site-header,
#ticker,
#colophon,
input.geocode-address-field,
#geocode-address-bar {
	background-color: #271B2F;
} 
#site-title {
	font-family: Arial, Helvetica, serif;
}

input.geocode-address-bar {
	color: white;
}

.btn-block, .btn-block:visited, .btn-block:link, .btn-block:hover {
	background: #553854;
	color: white;
}

.list-toggle-btn, 
.list-toggle-btn:visited, 
.list-toggle-btn:link,
.list-toggle-btn:hover,
.btn-primary, .btn-primary:visited, .btn-primary:link, .btn-primary:hover,
.btn, .btn:visited, .btn:link, .btn:hover {
	background: #276560;
	color: white;
}

.user-support label {
	color: white;
}
.user-support:hover label {
	background-color: transparent;
}


/* =Hint Display
-------------------------------------------------------------- */
.place-item.place-label-description {
  font-style: italic;
}
/* =Icon Select
-------------------------------------------------------------- */
.icon_select_img {
  border:1px solid white;
  border-radius: 10px;
  padding: 2px;
}
.icon_select_img.icon_selected {
  border:1px solid black;
}

.icon_small {
  border-radius: 10px;
  padding:2px;
  width:40px;
  height:40px;
}

#list-search-filter {
  display:none;
}
